button {
    border: none;
    outline: none;
    color: #4573f9;
    background: none;
    cursor: pointer;
}

.modalIcon {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}

.modalIcon > input {
    height: 50px;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 30px;
}

.modalIcon > input::placeholder {
    font-size: 30px;
}

.modalIcon > textarea {
    outline: none;
    border: none;
    height: 100px;
    padding: 0 10px;
    font-size: 20px;
}

.modalIcon > textarea::placeholder {
    font-size: 20px;
}

.navBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4573f9;
    margin: 1px 0 0 0;
    padding: 10px;
    background-color: white;
}

.navBlock > ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.navBlock > ul > li {
    list-style: none;
    margin: 0 5px;
    cursor: pointer;
}

.navBlock > h1 {
    margin: 0 5px 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}